includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 8
    paths:
        - PostType/
        - any-content-menu.php
        - Controller.php
        - MenuModifier.php
